<div>
    <a href="/admin/">回到首页</a>
    <a href="/admin/banners">banner设置</a>
    <a href="/admin/blog">blog设置</a>
    <a href="/admin/contact">contact设置</a>
    <a href="/admin/cunstom">custom设置</a>
    <a href="/admin/intro">intro设置</a>
    <a href="/admin/msg">message设置</a>
</div>